In [11]:
import pandas as pd

file_path = r"C:\Users\royda\OneDrive\Documentos\Universidad\3. Tercer semestre\Estructuras de datos y algoritmos\Talleres\Taller 3 Opcional\datapoints-k=2-n=200.csv"
df = pd.read_csv(file_path, names=['X', 'Y'])
df.head()

          X         Y
0  0.778199  1.013065
1  1.294406  1.250451
2  1.147818  0.932589
3  1.042476  0.875551
4  0.723326  1.199587