In [11]:
import pandas as pd

file_path = r"C:\Users\royda\OneDrive\Documentos\Universidad\3. Tercer semestre\Estructuras de datos y algoritmos\Talleres\Taller 3 Opcional\datapoints-k=2-n=200.csv"
df = pd.read_csv(file_path, names=['X', 'Y'])
df.head()

          X         Y
0  0.778199  1.013065
1  1.294406  1.250451
2  1.147818  0.932589
3  1.042476  0.875551
4  0.723326  1.199587

In [13]:
#find euclidean distance between all points
def euclidean_distance(x1, y1, x2, y2):
    return ((x1 - x2) ** 2 + (y1 - y2) ** 2) ** 0.5

#find the closest centroid for each point
def closest_centroid(x, y, centroids):
    closest = None
    min_distance = float('inf')
    for i, (cx, cy) in enumerate(centroids):
        distance = euclidean_distance(x, y, cx, cy)
        if distance < min_distance:
            min_distance = distance
            closest = i
    return closest

#find the new centroids
def new_centroids(df, centroids):
    new_centroids = []
    for i, _ in enumerate(centroids):
        x = df[df['closest'] == i]['X'].mean()
        y = df[df['closest'] == i]['Y'].mean()
        new_centroids.append((x, y))
    return new_centroids

#initialize centroids
k = 2
centroids = df.sample(k)
centroids = [(x, y) for x, y in zip(centroids['X'], centroids['Y'])]